@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thom Luce<br />
    Ohio University, Copeland 230<br />
    <abbr title="Phone">P:</abbr>
    740-593-2058
</address>

<address>
    <strong>email:</strong>   <a href="mailto:luce@ohio.edu">luce@ohio.edu</a><br />

</address>