@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p >This is a demonstation web site for MIS4200, fall semester, 2019.  This site demonstrates the creation of MVC
    applications and the use of Git/GitHub for source control.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Role of MIS4200</h2>
        <p>
            MIS4200 is a capstone course in the MIS major offered by the Analytics and Information Systems department at Ohio University.
            Prerequesits to this course include MIS2800 (database and data managemnet) and MIS3200 (system development with C#)
        </p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        MIS4200 introduces the student to the MVC, Model View Cotroller, approach to develpment and also uses Scrum to manage the development process.
     </div>
    <div class="col-md-4">
        <h2>Git and  GitHub</h2>
        Fall semester, 2019 is the first semester to include a general introduction to source control management with Git and GitHub.
    </div>
</div>